<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.user)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <div ng-show="model.message" class="alert alert-info">
        {{model.message}}
    </div>

    <form name="myForm">

        <div class="form-group">
            <label for="username">
                Username
            </label>
            <input ng-model="model.user.username"
                   readonly
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="AliceW">
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (!myForm.email.$pristine || submitted) && myForm.email.$invalid }">
            <label for="email">
                Email address
            </label>
            <input ng-model="model.user.email"
                   type="email"
                   class="form-control"
                   id="email"
                   name="email"
                   placeholder="alice@wonderland.com">
            <div ng-show="(!myForm.email.$pristine || submitted) && myForm.email.$invalid" class="help-block">
                Enter a valid email.
            </div>
        </div>

        <div class="form-group">
            <label for="first-name">
                First Name
            </label>
            <input ng-model="model.user.firstName"
                   type="text"
                   class="form-control"
                   id="first-name"
                   placeholder="Alice">
        </div>

        <div class="form-group">
            <label for="last-name">
                Last Name
            </label>
            <input ng-model="model.user.lastName"
                   type="text"
                   class="form-control"
                   id="last-name"
                   placeholder="Wonderland">
        </div>


        <a ng-click="myForm.email.$invalid ? submitted=true : model.updateUser(model.user)"
           class="btn btn-success btn-block">
            Update
        </a>
        <a ng-click="model.unregister()"
           class="btn btn-danger btn-block">
            Unregister
        </a>
        <a class="btn btn-primary btn-block"
           href="#!/website">
            Websites
        </a>
        <a class="btn btn-danger  btn-block"
           ng-click="model.logout()">
            Logout
        </a>

    </form>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>

