<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="../../vendor/Bootstrap_dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row navbar-header">
        <div class=" col-xs-4 hidden-xs">
            <p class="navbar-text pull-left">
                <a href="website-list.html " class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="#" class="navbar-link">
                      <span class="glyphicon glyphicon-plus">
                      </span>
                </a>
            </p>
        </div>
        <div class="col-xs-12 col-sm-8">

            <a class="navbar-brand" href="#">
               New Website
            </a>
            <p class="navbar-text pull-right">
                <a href="website-list.html" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                </a>
            </p>
        </div>
        </div>
    </div>
</nav>



<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 hidden-xs">
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-lg-5  col-xs-10">
                            Name
                        </div>
                        <div class="col-lg-3 visible-lg">
                            Created
                        </div>
                        <div class="col-lg-3 visible-lg">
                            Accessed
                        </div>
                        <div class="col-xs-2 col-lg-1">

                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-5 col-xs-10">
                            Website-One
                        </div>
                        <div class="col-lg-3 visible-lg">
                            1/1/1017
                        </div>
                        <div class="col-lg-3 visible-lg">
                            2/2/2017
                        </div>
                        <div class="col-xs-2 col-lg-1">
                            <a href="website-edit.html">
                                <span class="glyphicon glyphicon-cog pull-right">
                                </span>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-5 col-xs-10">
                            Website-Two
                        </div>
                        <div class="col-lg-3 visible-lg">
                            1/1/1017
                        </div>
                        <div class="col-lg-3 visible-lg">
                            2/2/2017
                        </div>
                        <div class="col-xs-2 col-lg-1">
                            <a href="website-edit.html">
                                <span class="glyphicon glyphicon-cog pull-right">
                                </span>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-5 col-xs-10">
                            Website-Three
                        </div>
                        <div class="col-lg-3 visible-lg">
                            1/1/1017
                        </div>
                        <div class="col-lg-3 visible-lg">
                            2/2/2017
                        </div>
                        <div class="col-xs-2 col-lg-1">
                            <a href="website-edit.html">
                                <span class="glyphicon glyphicon-cog pull-right">
                                </span>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-5 col-xs-10">
                            Website-Four
                        </div>
                        <div class="col-lg-3 visible-lg">
                            1/1/1017
                        </div>
                        <div class="col-lg-3 visible-lg">
                            2/2/2017
                        </div>
                        <div class="col-xs-2 col-lg-1">
                            <a href="website-edit.html">
                                <span class="glyphicon glyphicon-cog pull-right">
                                </span>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-5 col-xs-10">
                            Website-Five
                        </div>
                        <div class="col-lg-3 visible-lg">
                            1/1/1017
                        </div>
                        <div class="col-lg-3 visible-lg">
                            2/2/2017
                        </div>
                        <div class="col-xs-2 col-lg-1">
                            <a href="website-edit.html">
                                <span class="glyphicon glyphicon-cog pull-right">
                                </span>
                            </a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

        <div class="col-xs-12 col-sm-8">

            <label for="name">Website Name</label>
            <input id="name"
                   class="form-control"
                    placeholder="Facebook"
                   />

            <label for="description">Website Description</label>
            <textarea id="description"
                      rows = 5
                      placeholder = "So big it is its own country"
                      class="form-control"></textarea>

        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">

            <p class="navbar-text pull-right">
                <a href="../user/templates/profile.html" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>


</body>
</html>