input.form-control,
textarea.form-control,
select.form-control, .btn {
    margin-bottom: 5px;
}
nav.navbar.navbar-inverse.navbar-fixed-top {

}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}
@media (max-width: 768px) {
    .wd-margin-sx {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.navbar .navbar-brand {
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.navbar-header{
    width:100%;
}
.navbar .navbar-link {
    color: white;
}
.navbar a{
    color: white;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border : 0px solid #ddd;

}
.wd-widget {
    margin-bottom: 10px;
}
.wd-widget > img {
    width: 100%;
}
.wd-widget > .wd-widget-toolbar {
    position: absolute;
    right: 15px;
    background: white;
    opacity: 0.9;
    padding: 5px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}
.wd-video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.wd-video-container iframe,
.wd-video-container object,
.wd-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}