.img-portfolio {
    margin-bottom: 30px;
}

.img-header {
    margin-bottom: 30px;
    width: 100%;
    height: auto;
}

.no-padding {
    padding: 0px;
}

.sm-margin{
    margin-top: 15px;
}

.img-hover:hover {
    opacity: 0.8;
}

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.error-404 {
    font-size: 100px;
}

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

footer {
    margin: 50px 0;
}

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

a.form-control,
input.form-control,
textarea.form-control,
select.form-control,
button.form-control{
    margin-bottom: 5px;
}

.bottom-margin {
    margin-bottom: 5px;
}

.top-margin {
    margin-top: 10px;
}

div.btn-group {
    margin-bottom: 5px;
}

.margin-right {
    margin-right: 15px
}

.submit-button {
    background: transparent;
    padding: 0px;
    border: none;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (max-width: 768px) {
    .wd-margin-sx {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.image-ds-main {
    background: url(../images/dspHome.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:400px;
}

.image-ds-sm1 {
    background: url(../images/dsp1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:190px;
}


.image-ds-sm2 {
    background: url(../images/projectHome.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:190px;
}


.image-ds-sm3 {
    background: url(../images/projecthome1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:190px;
}

.dsp-neg-margin {
    margin-top: -10px;
}

h1.dsp-header {
    color: white;
    font-family: Calibri;
}
p.dsp-header {
    color: white;
    font-family: Calibri;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.image-dsd {
    background: url(../images/dspd.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:300px;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.container-fluid .navbar-header {
    width: 100%;
}

.navbar-inverse .navbar-link {
    color: white;
}

.colorWhite {
    color: white;
}

.navbar.navbar-inverse a {
    color: #ffffff;
}

ul
{
    list-style-type: none;
    padding-left: 0px;
}

.wd-widget {
    margin: 15px;
}

.wd-widget-edit {
    margin-left: 15px;
    margin-right: 15px;
}

.wd-widget > img {
    width: 100%;
}

.wd-widget > .wd-widget-toolbar {
    position: absolute;
    right: 15px;
    background: white;
    opacity: 0.9;
    padding: 5px;
    border-bottom-left-radius: 10px;
    z-index: 2;
}

.wd-video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.wd-video-container iframe,
.wd-video-container object,
.wd-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
}