<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="navbar-header wd-margin-sx">
                    <p class="navbar-text pull-left">
                        <a href="#!/financialAccount"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </p>
                    <a class="navbar-brand">
                        Edit Financial Account
                    </a>
                    <p class="navbar-text pull-right">
                        <a href="#!/"
                           class="navbar-link margin-right" title="Home">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>

                        <a ng-click="model.logout()"
                           class="navbar-link" title="Logout">
                            <span class="glyphicon glyphicon-log-out"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <form name="myForm">

        <div class="form-group" ng-class="{ 'has-error' : (myForm.accountName.$touched || submitted) && myForm.accountName.$invalid }">
            <label for="accountName">Account Name</label>
            <input class="form-control"
                   type="text"
                   ng-model="model.financialAccount.accountName"
                   placeholder="Account Name"
                   id="accountName"
                   name="accountName"
                   required/>
            <div ng-show="(myForm.accountName.$touched || submitted) && myForm.accountName.$invalid" class="help-block">
                Account Name is required.
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (myForm.accountNumber.$touched || submitted) && myForm.accountNumber.$invalid }">
            <label for="accountNumber">Account Number</label>
            <input class="form-control"
                   type="text"
                   ng-model="model.financialAccount.accountNumber"
                   placeholder="Account Number"
                   id="accountNumber"
                   name="accountNumber"
                   required/>
            <div ng-show="(myForm.accountNumber.$touched || submitted) && myForm.accountNumber.$invalid" class="help-block">
                Account Number is required.
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (!myForm.dateCreated.$pristine || submitted) && myForm.dateCreated.$invalid }">
            <label for="dateCreated">
                Opening Date
            </label>
            <input ng-model="model.financialAccount.dateCreated"
                   type="date"
                   class="form-control"
                   required
                   id="dateCreated"
                   name="dateCreated">
            <div ng-show="(!myForm.dateCreated.$pristine || submitted) && myForm.dateCreated.$invalid" class="help-block">
                Enter a valid Opening Date.
            </div>
        </div>

        <a href="#!/financialAccount"
           ng-show="model.financialAccount.yodlee===true"
           class="btn btn-block btn-success">
            Cancel
        </a>

        <a ng-click="(myForm.accountName.$invalid || myForm.accountNumber.$invalid) ? submitted=true :  model.updateFinancialAccount(model.financialAccount)"
           ng-hide="model.financialAccount.yodlee===true"
           class="btn btn-block btn-success">
            Update
        </a>

        <a ng-click="model.deleteFinancialAccount(model.financialAccount._id)"
           class="btn btn-block btn-danger">
            Delete
        </a>

    </form>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>