<label for="name">Name</label>
<input class="form-control"
       ng-model="model.widget.widgetName"
       placeholder="facebook"
       value="top heading"
       id="name"/>

<label for="text">Text</label>
<input class="form-control"
       ng-model="model.widget.text"
       placeholder="facebook"
       value="US Senate Reaches Compromise"
       id="text"/>

<label for="url">URL</label>
<input type="url" class="form-control"
       ng-model="model.widget.url"
       placeholder="https://www.w3schools.com/css/trolltunga.jpg"
       id="url"/>

<label for="width">Width</label>

<select id="width" ng-model="model.widget.width" class="form-control">
    <option>100%</option>
    <option>75%</option>
    <option>50%</option>
    <option>25%</option>
    <option>10%</option>
    <option>1%</option>
</select>

<label for="file">Upload</label>
<input id="file" multiple type="file" class="form-control"/>

    <a href=""
        class="btn btn-block btn-success">
        Upload
    </a>


