<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid ">

    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click = "model.createWidget('HEADING')">Header</a>
        </li>
        <li class="list-group-item">
            <a ng-click = "model.createWidget('LABEL')">Label</a>
        </li>
        <li class="list-group-item">
            <a  ng-click = model.createWidget('HTML')>HTML</a>
        </li>
        <li class="list-group-item">
            <a  ng-click = model.createWidget('TEXT')>Text Input</a>
        </li>
        <li class="list-group-item">
            <a  ng-click = model.createWidget('LINK')>Link</a>
        </li>
        <li class="list-group-item">
            <a ng-click = model.createWidget('BUTTON')>Button</a>
        </li>
        <li class="list-group-item">
            <a  ng-click = model.createWidget('IMAGE')>Image</a>
        </li>
        <li class="list-group-item">
            <a  ng-click = model.createWidget('YOUTUBE')>YouTube</a>
        </li>
        <li class="list-group-item">
            <a  ng-click = model.createWidget('DATATABLE')>Data Table</a>
        </li>
        <li class="list-group-item">
            <a  ng-click = model.createWidget('REPEATER')>Repeater</a>
        </li>
    </ul>

</div>
<div ng-include="'views/common/footer.view.client.html'"></div>