<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
				<li class="active"><a href="#!/">Home</a></li>
                <li ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
                <li ng-show="!model.currentUser._id"><a href="#!/register">Register</a></li>
                <li ng-show="model.currentUser._id && model.currentUser.role !== 'ADMIN'"><a href="#!/profile">Profile</a></li>
                <li ng-show="model.currentUser._id && model.currentUser.role === 'ADMIN'"><a href="#!/admin">Admin</a></li>
                <li><a target="_blank" href="https://github.com/DhavalkumarPatel/patel-dhavalkumar-webdev">GitHub</a></li>
                <li><a target="_blank" href="https://youtu.be/51rPjBggS_Y">Demo</a></li>
                <li><a target="_blank" href="/test">Test MonogoDB</a></li>
                <li ng-show="model.currentUser._id"><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron image-ds-main dsp-neg-margin">
    <div class="container text-center">
        <p class="dsp-header"><b>Welcome {{model.currentUser.firstName}}</b></p>
        <h1 class="dsp-header">Finance Management</h1>
        <p class="dsp-header"><b>See all your finances at one place</b></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i>Secure & Free access</h4>
                </div>
                <div class="panel-body">
                    <p>It uses a modern RESTful Envestnet Yodlee Aggregation API, a secure way to integrate to any of 15,000
                        global financial sources like bank, credit card, investment, loans, rewards, and other financial accounts for free.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i>Save Time</h4>
                </div>
                <div class="panel-body">
                    <p>Forget logging in to multiple sites. You can track all your transactions here. Simply integrate your financial
                    account and search all your transaction of any configured accounts at one place with facility of managing cash accounts.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i>Statistics</h4>
                </div>
                <div class="panel-body">
                    <p>There are <b>{{model.data.totalUsers}}</b> registered users in the Online Finance Management system and it is
                        securely managing the financial accounts of <b>{{model.data.totalFamilies}}</b> families with 24/7 access to all
                        financial services, and these numbers are ever increasing.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header sm-margin">Manage your money like never before</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="image-ds-sm1"></div>
        </div>
        <div class="col-md-4 col-sm-6 hidden-xs">
            <div class="image-ds-sm2"></div>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
            <div class="image-ds-sm3"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">A secure, quick, and simple way to access financial data of a family</h2>
        </div>
        <div class="col-md-6">
            <p>You can see all your finances at a glance. You as a Household can add your family members
                in your account and you can manage the financial accounts of entire family all together.
                Just add your transactions to see how helpful we can be.</p>
            <ul class="list-group">
                <li class="list-group-item">See expenses and money in one place.</li>
                <li class="list-group-item">Collaboration of entire family with permission of Household.</li>
                <li class="list-group-item">Support to 15,000 global financial sources</li>
                <li class="list-group-item">Stop logging into multiple sites.</li>
                <li class="list-group-item">Mobile friendly application</li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="image-dsd"></div>
        </div>
    </div>


    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>It is easy to set up your free account in seconds using any device. You can also sign in using your existing Google or Facebook account.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-success btn-block" href="#!/register">SIGN UP FOR FREE</a>
            </div>
        </div>
    </div>

</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
    </div>
</nav>