<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="navbar-header wd-margin-sx">
                    <p class="navbar-text pull-left">
                        <a href="#!/website"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </p>
                    <a class="navbar-brand">
                        Pages
                    </a>
                    <p class="navbar-text pull-right">
                        <a href="#!/website/{{model.websiteId}}/page/new"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-include="'views/page/templates/page-list-common.view.client.html'">

    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>