<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="navbar-header wd-margin-sx">
                    <p class="navbar-text pull-left">
                        <a href="#!/profile"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </p>
                    <a class="navbar-brand" title="Users you are following.">
                        Following
                    </a>
                    <p class="navbar-text pull-right">
                        <a href="#!/"
                           class="navbar-link margin-right" title="Home">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>

                        <a ng-click="model.logout()"
                           class="navbar-link" title="Logout">
                            <span class="glyphicon glyphicon-log-out"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <form name="myForm">

        <div class="top-margin">
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-7">
                            First Name
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-5 hidden-xs">
                            Last Name
                        </div>
                        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                            Email
                        </div>
                        <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
                            Phone
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-5 " >
                            <a href="#!/followUser/new" class="colorWhite">
                                <span class="glyphicon glyphicon-plus pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <li ng-repeat="followedUser in model.followedUsers"
                    class="list-group-item">
                    <div class="row">

                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-7">
                            {{followedUser.firstName}}
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-5 hidden-xs">
                            {{followedUser.lastName}}
                        </div>
                        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                            {{followedUser.email}}
                        </div>
                        <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
                            {{followedUser.phone}}
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-5">
                            <a ng-click="model.unfollowUser(followedUser._id)"
                               class="btn btn-success pull-right">
                                Unfollow
                            </a>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

    </form>

</div>

<div ng-include="'views/common/footer.view.client.html'"></div>